.form-field-error {
  border-color: #af3232;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px 0 rgba(175, 50, 50, 0.6);
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px 0 rgba(175, 50, 50, 0.6);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px 0 rgba(175, 50, 50, 0.6);
}
#footer {
  margin-top: 10px;
  color: #666666;
  background: #fff;
  padding: 60px 0px 60px 0px;
}
#footer a {
  text-decoration: none;
}
#footer a:link,
#footer a:visited {
  text-decoration: none;
  padding: 0;
  font-family: "Open Sans", Arial, Helvetica, "Microsoft JhengHei", "Apple LiGothic Medium", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #666666;
  -moz-transition: text-shadow 0.2s ease-out;
  -webkit-transition: text-shadow 0.2s ease-out;
}
#footer a:hover,
#footer a:active {
  text-decoration: none;
  text-shadow: 0 0 0, 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-transition: text-shadow 0.1s ease-out;
  -webkit-transition: text-shadow 0.1s ease-out;
}
#footer #copyright {
  margin-left: 10px;
}
#footer #copyright ul {
  margin: 0;
  padding: 0px;
  width: 400px;
  zoom: 1;
}
#footer #copyright ul:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#footer #copyright ul li {
  margin: 0 10px 0 0px;
  display: inline-block;
  float: left;
}
#footer #copyright #footer-links {
  margin: 0px 0px 10px 0px;
}
#footer #copyright #footer-links a {
  font-weight: bold;
}
/*footer-wrapper*/
#footer-wrapper {
  width: 900px;
  margin: auto;
  padding: 0px 0px 0px 60px;
  zoom: 1;
}
#footer-wrapper:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.footer-content {
  margin: 0px 0px 0px 10px;
  float: left;
}
#footer-logo {
  margin: 20px 70px 0px 0px;
}
/*sub-footer*/
#sub-footer #sub-footer-contents {
  width: 240px;
}
#sub-footer #sub-footer-contents ul {
  margin: 10px 0px 10px 0px;
  left: auto;
}
#sub-footer #sub-footer-contents ul li {
  list-style: none;
  float: left;
  padding: 0;
  width: 60px;
  margin: 0px 20px 0px 0px;
  background: none;
}
#sub-footer #sub-footer-contents ul {
  zoom: 1;
}
#sub-footer #sub-footer-contents ul:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
/* Newsletter form fix */
#footer-email-form .field-format,
#newsletter-form .field-format {
  display: none;
}
@media only screen and (min-width: 760px) and (max-width: 1000px) {
  #footer-wrapper {
    width: 95%;
    padding-left: 5%;
  }
  #footer-logo {
    margin-right: 20px;
  }
  #sub-footer #sub-footer-contents {
    width: 150px;
  }
  #sub-footer #sub-footer-contents ul li {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 760px) {
  #footer-wrapper {
    width: 430px;
    margin: auto;
    padding: 0;
  }
}
@media only screen and (max-width: 480px) {
  #footer-wrapper {
    width: 240px;
    margin: auto;
    padding: 0;
  }
  #footer-logo {
    margin-left: 10px;
    margin-bottom: 20px;
  }
  #footer #copyright ul,
  #footer #copyright p {
    width: 220px;
  }
}
