@import "lib.less";

// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

#masthead {

    h2 {
        padding: (@baseLine * 1.5) 0 @baseLine;
        margin: 0 (@gridGutterWidth / 2) !important;
    }

    nav {
        float: right;
        margin-right: 16px;
        text-transform: uppercase;
        font-size: 13px;
        .open-sans;

        li {
            .inline-block;
            list-style-type: none;
            margin: 0;

            a,
            b {
                display: inline-block;
                padding: 12px;
                font-weight: normal;
            }

            b,
            .current {
                background-position: 50% 0;
                background-repeat: no-repeat;
                background-image: url(/media/img/sandstone/menu-current.png);
            }


            a,
            a:link,
            a:visited {
                color: @textColorSecondary;
            }

        }

    }

}

#nav-main .toggle {
    display: none; /* Hidden in non-mobile views */
}

/* Top Level Menu Items */

#nav-main-menu {
    .inline-block;
    margin: 0;

    li {
        position: relative;

        &.hover a {
            background-image: url(/media/img/sandstone/menu-point.png);
            background-repeat: no-repeat;
            background-position: center 2.75em;
            outline: 0;
        }
    }

}

/* Second-level Menu Items */

.js #nav-main li.hover .submenu {
    left: 0;
    opacity: 1;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

#nav-main .submenu,
#nav-main .submenu li {
    height: auto;
    border: 0;
    float: none;
    display: block;
}

#nav-main .submenu {
    position: absolute;
    z-index: 100;
    left: -999em;
    top: 43px;
    opacity: 0;
    width: 190px;
    text-shadow: 1px 1px 0 #fff, 0 0 5px #fff;
    background: #fff;
    padding: 1px 0;
    border-bottom: 1px solid #ddd;

    li,
    li.hover {
        background-image: none;

        a,
        a:link,
        a:visited,
        span {
            overflow: hidden;
            padding: 7px 10px;
            margin: 0;
            height: auto;
            float: none;
            display: block;
            font-size: 11px;
            border: 0;
            background: none;
            position: relative;
            -moz-transition: background 0.1s ease-in;
            -webkit-transition: background 0.1s ease-in;
            transition: background 0.1s ease-in;
        }

        a,
        a:hover,
        a:focus,
        a:active {
            background-image: none;
            background: rgb(227,235,244);
            background: rgba(152,178,201,0.2);
            -moz-transition: background 0.1s ease-out;
            -webkit-transition: background 0.1s ease-out;
            transition: background 0.1s ease-out;
        }
    }

}
/* Currently active menu items */

#nav-mail ul li.current {
    span,
    a,
    a:link,
    a:visited {
        background: #fbfdff;
        padding-right: 30px;
        padding-bottom: 15px;
    }

    ul span,
    ul a,
    ul a:link,
    ul a:visited {
        background: none;
        height: auto;
        padding: 8px 10px;
    }
}

/* {{{ Dark Background Header */

.darkbg #nav-main ul li {

    a,
    a:link,
    a:visited,
    span {
        color: #fff;
        border-color: #555;
    }

    li a,
    li a:link,
    li a:visited,
    li span {
        color: #484848;
    }

    a:hover,
    &:hover a,
    .hover a,
    .hover a:link,
    .hover a:visited {
        background: #ccc;
        color: #484848;
    }

}

/* }}} */

/* Mobile Layout: 320px */
@media only screen and (max-width: @breakTablet) {

    #nav-main-menu {
        margin: 15px 0 0 -10px;

        li.hover a {
            background-image: none;
        }

    }

    #nav-main-menu .submenu,
    .js #nav-main li.hover .submenu {
        left: -999em;
        top: auto;
        background: #fff;
        .border-radius(10px);
        .box-shadow(0 2px 3px rgba(0,0,0,.35));
        opacity: 1;
        padding: 0;
    }

    .js #nav-main li .submenu {
        xleft: 80px;
        xtop: auto;
    }

    #nav-main-menu .submenu a,
    #nav-main-menu .submenu a:link,
    #nav-main-menu .submenu a:visited {
        -moz-transition: none 0s;
        -webkit-transition: none 0s;
        transition: none 0s;
    }

    #masthead {
        h2 {
            padding-top: @baseLine / 2;
            padding-bottom: @baseLine / 2;
        }

        nav {
            float: none;
            padding-top: 10px;
            margin-left: 10px;

            ul li {
                display: block;
                a,
                b {
                    display: block;
                    padding: 0;
                }

                b,
                .current {
                    background-image: none;
                }
            }
        }
    }

    nav.menu-bar {
        text-align: inherit;
        line-height: 100%;

        ul {
            padding-top: @baseLine / 2;
            padding-bottom: @baseLine / 2;
            li {
                display: block;
                padding: 0;
                a {
                    padding: @baseLine / 2;
                    border: 0;
                    display: block;
                    border-top: 1px dotted @borderColor;
                    border-left: 0;
                }
                &:first-child a {
                    border-top: 0;
                }
            }
        }
    }

}


/* Tablet Layout: 760px */
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {

    #masthead {
        width: @widthTablet - (@gridGutterWidth * 2);
    }

    nav.menu-bar {
        font-size: .9375em;
    }

    #footer-email-form {
        h3 {
            .span_narrow(4);
            padding-top: 4px;
        }

        .form-contents {
            .span_narrow(5);
        }

        .form-submit {
            .span_narrow(3);
        }
    }

    #colophon {
        .row {
            width: @widthTablet - (@gridGutterWidth * 2);
        }
        .footer-logo {
            .span_narrow(4);
        }
        .footer-license {
            .span_narrow(3);
        }
        .footer-nav {
            .span_narrow(2);
        }

    }

}


/* Mobile Layout: 320px */
@media only screen and (max-width: @breakTablet) {

    #masthead {
        width: auto;
        padding-left: @gridGutterWidth / 2;
        padding-right: @gridGutterWidth / 2;
        padding-bottom: @gridGutterWidth;
    }

    #masthead {
        h2 {
            padding-top: @baseLine / 2;
            padding-bottom: @baseLine / 2;
        }

        nav {
            float: none;
            padding-top: 10px;
            margin-left: 10px;

            ul li {
                display: block;
                a,
                b {
                    display: block;
                    padding: 0;
                }

                b,
                .current {
                    background-image: none;
                }
            }
        }

        nav.breadcrumbs {
            margin-left: 0;
            a,
            span {
                margin-right: .3em;
                margin-left: .3em;
            }
        }

    }

    nav.menu-bar {
        text-align: inherit;
        line-height: 100%;

        ul {
            padding-top: @baseLine / 2;
            padding-bottom: @baseLine / 2;
            li {
                display: block;
                padding: 0;
                a {
                    padding: @baseLine / 2;
                    border: 0;
                    display: block;
                    border-top: 1px dotted @borderColor;
                    border-left: 0;
                }
                &:first-child a {
                    border-top: 0;
                }
            }
        }
    }

    #footer-email-form {
        h3,
        .form-contents,
        .form-submit {
            width: auto;
            float: none;
        }

        .form-submit {
            margin-top: @baseLine / 2;
        }
    }

    #colophon {
        .row {
            width: @widthMobile - @gridGutterWidth;
        }
        .footer-logo,
        .footer-license,
        .footer-nav {
            width: auto;
            float: none;
        }
        .footer-logo,
        .footer-license {
            margin-bottom: @baseLine;
        }
    }

    #nav-main {
        .toggle {
            display: block;
            width: 32px;
            height: 32px;
            margin: -3px 0 0 -3px;
            background: no-repeat center top url(/media/img/sandstone/icn-menu.png);
            text-indent: -999em;
            overflow: hidden;
            cursor: pointer;
        }
        .toggle.open {
            background-position: center -100px;
        }

        #nav-main-menu li {
            display: block;
            float: none;
            margin: 0 10px;
            border-bottom: 1px solid #f2f2f2;
        }

        #nav-main-menu li:last-child {
            border: 0;
        }

        #nav-main-menu a,
        #nav-main-menu b {
            cursor: pointer;
            display: block;
            text-transform: none;
            padding: 12px 35px 12px 10px;
            margin: 0 -10px;
        }

        #nav-main-menu a.submenu-item {
            background: 94% 50% no-repeat url(/media/img/sandstone/arrow-go.png);
        }

        #nav-main-menu a:hover,
        #nav-main-menu a:focus,
        #nav-main-menu a:active {
            color: #fff;
            text-decoration: none;
            text-shadow: 1px 1px 0 rgba(0,0,0,.25);
            background-color: #247ac1;
            background-position: 94% 50%;
            background-repeat: no-repeat;
            background-image: -moz-linear-gradient(#43a6e2, #247ac1);
            background-image: -ms-linear-gradient(#43a6e2, #247ac1);
            background-image: -o-linear-gradient(#43a6e2, #247ac1);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43a6e2), color-stop(100%,#247ac1));
            background-image: -webkit-linear-gradient(#43a6e2, #247ac1);
            background-image: linear-gradient(#43a6e2, #247ac1);
        }

        #nav-main-menu a.submenu-item:hover,
        #nav-main-menu a.submenu-item:focus,
        #nav-main-menu a.submenu-item:active {
            background-image: url(/media/img/sandstone/arrow-go.png), -moz-linear-gradient(#43a6e2, #247ac1);
            background-image: url(/media/img/sandstone/arrow-go.png), -ms-linear-gradient(#43a6e2, #247ac1);
            background-image: url(/media/img/sandstone/arrow-go.png), -o-linear-gradient(#43a6e2, #247ac1);
            background-image: url(/media/img/sandstone/arrow-go.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43a6e2), color-stop(100%,#247ac1));
            background-image: url(/media/img/sandstone/arrow-go.png), -webkit-linear-gradient(#43a6e2, #247ac1);
            background-image: url(/media/img/sandstone/arrow-go.png), linear-gradient(#43a6e2, #247ac1);
        }

        #nav-main-menu li.first > a {
            border-radius: 10px 10px 0 0;
        }

        #nav-main-menu li.last > a {
            border-radius: 0 0 10px 10px;
        }
    }

    #nav-main-menu {
        background: #fff;
        position: absolute;
        z-index: 99;
        width: 200px;
        margin: 15px 0 0 -10px;
        left: -999em;
        top: 35px;
        overflow: visible;
        .border-radius(10px);
        .box-shadow(0 1px 3px 0 rgba(0,0,0,.5));
    }

    #nav-main:hover #nav-main-menu,
    #nav-main-menu:target {
        left: auto;
    }

    .js #nav-main-menu {
        left: auto;
        display: none;
    }

    #nav-main-menu:before {
        content: "";
        display: block;
        width: 28px;
        height: 10px;
        background: no-repeat url(/media/img/sandstone/menu-point.png);
        position: absolute;
        left: 12px;
        top: -10px;
    }

}


/* Wide Mobile Layout: 480px */
@media only screen and (min-width: @breakMobileLandscape) and (max-width: @breakTablet) {

    #masthead {
        width: auto;
    }

    #colophon {
        .row {
            width: @widthMobileLandscape - @gridGutterWidth;
        }
    }

}
