.form-field-error {
  border-color: #af3232;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px 0 rgba(175, 50, 50, 0.6);
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px 0 rgba(175, 50, 50, 0.6);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px 0 rgba(175, 50, 50, 0.6);
}
#masthead h2 {
  padding: 30px 0 20px;
  margin: 0 10px !important;
}
#masthead nav {
  float: right;
  margin-right: 16px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
#masthead nav li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  list-style-type: none;
  margin: 0;
}
#masthead nav li a,
#masthead nav li b {
  display: inline-block;
  padding: 12px;
  font-weight: normal;
}
#masthead nav li b,
#masthead nav li .current {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url(/media/img/sandstone/menu-current.png);
}
#masthead nav li a,
#masthead nav li a:link,
#masthead nav li a:visited {
  color: #484848;
}
#masthead nav.breadcrumbs {
  float: none;
  margin: 0 0 20px 20px;
  color: #303030;
}
#masthead nav.breadcrumbs b {
  font-weight: bold;
  font-size: 120%;
  margin: 0 5px 0 5px;
}
#masthead nav.breadcrumbs a.home {
  background: url(/media/img/sandstone/breadcrumb-home.png) 0 0 no-repeat;
  display: inline;
  float: left;
  margin-top: 5px;
  height: 13px;
  width: 15px;
  overflow: hidden;
  line-height: 50px;
}
#masthead nav.breadcrumbs-inversed {
  float: none;
  margin: 0 0 20px 20px;
  color: #FFFFFF;
}
#masthead nav.breadcrumbs-inversed b {
  font-weight: bold;
  font-size: 120%;
  margin: 0 5px 0 5px;
}
#masthead nav.breadcrumbs-inversed a.home {
  background: url(/media/img/sandstone/breadcrumb-home-w.png) 0 0 no-repeat;
  display: inline;
  float: left;
  margin-top: 5px;
  height: 13px;
  width: 15px;
  overflow: hidden;
  line-height: 50px;
}
#nav-main .toggle {
  display: none;
  /* Hidden in non-mobile views */

}
/* Top Level Menu Items */
#nav-main-menu {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0;
}
#nav-main-menu li {
  position: relative;
}
#nav-main-menu li.hover a {
  background-image: url(/media/img/sandstone/menu-point.png);
  background-repeat: no-repeat;
  background-position: center 2.75em;
  outline: 0;
}
/* Second-level Menu Items */
.js #nav-main li.hover .submenu {
  left: 0;
  opacity: 1;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#nav-main .submenu,
#nav-main .submenu li {
  height: auto;
  border: 0;
  float: none;
  display: block;
}
#nav-main .submenu {
  position: absolute;
  z-index: 100;
  left: -999em;
  top: 43px;
  opacity: 0;
  width: 190px;
  text-shadow: 1px 1px 0 #fff, 0 0 5px #fff;
  background: #fff;
  padding: 1px 0;
  border-bottom: 1px solid #ddd;
}
#nav-main .submenu li,
#nav-main .submenu li.hover {
  background-image: none;
}
#nav-main .submenu li a,
#nav-main .submenu li.hover a,
#nav-main .submenu li a:link,
#nav-main .submenu li.hover a:link,
#nav-main .submenu li a:visited,
#nav-main .submenu li.hover a:visited,
#nav-main .submenu li span,
#nav-main .submenu li.hover span {
  overflow: hidden;
  padding: 7px 10px;
  margin: 0;
  height: auto;
  float: none;
  display: block;
  font-size: 11px;
  border: 0;
  background: none;
  position: relative;
  -moz-transition: background 0.1s ease-in;
  -webkit-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}
#nav-main .submenu li a,
#nav-main .submenu li.hover a,
#nav-main .submenu li a:hover,
#nav-main .submenu li.hover a:hover,
#nav-main .submenu li a:focus,
#nav-main .submenu li.hover a:focus,
#nav-main .submenu li a:active,
#nav-main .submenu li.hover a:active {
  background-image: none;
  background: #e3ebf4;
  background: rgba(152, 178, 201, 0.2);
  -moz-transition: background 0.1s ease-out;
  -webkit-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}
#nav-main .submenu li[role=menuitem].hover > a,
#nav-main .submenu li[role=menuitem].hover > a:hover,
#nav-main .submenu li[role=menuitem].hover > a:focus,
#nav-main .submenu li[role=menuitem].hover > a:active {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7px' height='30px'><polygon points='0,15 15,0 10,25' fill='rgb(246,246,246)' stroke='white' stroke-width='1'/></svg>") no-repeat top right, rgba(152, 178, 201, 0.2);
}
#nav-main-menu li.hover a.no-submenu {
  background: none;
}
/* Third-level Menu Items */
#nav-main .submenu .submenu_lv2 {
  position: absolute;
  z-index: 100;
  top: -10px;
  left: -999em;
  opacity: 0;
  width: 190px;
  text-shadow: 1px 1px 0 #fff, 0 0 5px #fff;
  background: #f6f6f6;
  padding: 1px 0;
  border-bottom: 1px solid #ddd;
}
.js #nav-main li.hover .submenu li.hover .submenu_lv2 {
  opacity: 1;
  left: 190px;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
/* Currently active menu items */
#nav-mail ul li.current span,
#nav-mail ul li.current a,
#nav-mail ul li.current a:link,
#nav-mail ul li.current a:visited {
  background: #fbfdff;
  padding-right: 30px;
  padding-bottom: 15px;
}
#nav-mail ul li.current ul span,
#nav-mail ul li.current ul a,
#nav-mail ul li.current ul a:link,
#nav-mail ul li.current ul a:visited {
  background: none;
  height: auto;
  padding: 8px 10px;
}
/* {{{ Dark Background Header */
.darkbg #nav-main ul li a,
.darkbg #nav-main ul li a:link,
.darkbg #nav-main ul li a:visited,
.darkbg #nav-main ul li span {
  color: #fff;
  border-color: #555;
}
.darkbg #nav-main ul li li a,
.darkbg #nav-main ul li li a:link,
.darkbg #nav-main ul li li a:visited,
.darkbg #nav-main ul li li span {
  color: #484848;
}
.darkbg #nav-main ul li a:hover,
.darkbg #nav-main ul li:hover a,
.darkbg #nav-main ul li .hover a,
.darkbg #nav-main ul li .hover a:link,
.darkbg #nav-main ul li .hover a:visited {
  background: #ccc;
  color: #484848;
}
/* }}} */
/* Tablet Layout: 760px */
@media only screen and (min-width: 760px) and (max-width: 1000px) {
  #masthead {
    width: 720px;
  }
  nav.menu-bar {
    font-size: .9375em;
  }
  #footer-email-form h3 {
    float: left;
    width: 220px;
    margin: 0 10px;
    padding-top: 4px;
  }
  #footer-email-form .form-contents {
    float: left;
    width: 280px;
    margin: 0 10px;
  }
  #footer-email-form .form-submit {
    float: left;
    width: 160px;
    margin: 0 10px;
  }
  #colophon .row {
    width: 720px;
  }
  #colophon .footer-logo {
    float: left;
    width: 220px;
    margin: 0 10px;
  }
  #colophon .footer-license {
    float: left;
    width: 160px;
    margin: 0 10px;
  }
  #colophon .footer-nav {
    float: left;
    width: 100px;
    margin: 0 10px;
  }
}
/* Mobile Layout: 760px */
@media only screen and (max-width: 760px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }
  html {
    -webkit-overflow-scrolling: touch;
  }
  #body-wrapper,
  #outer-wrapper,
  #wrapper,
  #doc {
    overflow-x: hidden;
  }
  div.slide-x {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
  }
  div.slided-it {
    transform: translate(270px, 0);
    -moz-transform: translate(270px, 0);
    -ms-transform: translate(270px, 0);
    -o-transform: translate(270px, 0);
    -webkit-transform: translate(270px, 0);
  }
  #masthead {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  #masthead h2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #masthead nav {
    float: none;
    padding-top: 10px;
    margin-left: 10px;
  }
  #masthead nav ul li {
    display: block;
  }
  #masthead nav ul li a,
  #masthead nav ul li b {
    display: block;
    padding: 0;
  }
  #masthead nav ul li b,
  #masthead nav ul li .current {
    background-image: none;
  }
  #masthead nav.breadcrumbs {
    margin-left: 0;
  }
  nav.menu-bar {
    text-align: inherit;
    line-height: 100%;
  }
  nav.menu-bar ul {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  nav.menu-bar ul li {
    display: block;
    padding: 0;
  }
  nav.menu-bar ul li a {
    padding: 10px;
    border: 0;
    display: block;
    border-top: 1px dotted #d6d6d6;
    border-left: 0;
  }
  nav.menu-bar ul li:first-child a {
    border-top: 0;
  }
  #footer-email-form h3,
  #footer-email-form .form-contents,
  #footer-email-form .form-submit {
    width: auto;
    float: none;
  }
  #footer-email-form .form-submit {
    margin-top: 10px;
  }
  #colophon .row {
    width: 300px;
  }
  #colophon .footer-logo,
  #colophon .footer-license,
  #colophon .footer-nav {
    width: auto;
    float: none;
  }
  #colophon .footer-logo,
  #colophon .footer-license {
    margin-bottom: 20px;
  }
  #nav-main-menu {
    margin: 15px 0 0 -10px;
  }
  #nav-main-menu li.hover a {
    background: none;
  }
  #masthead h2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #masthead nav {
    float: none;
  }
  #masthead nav ul li {
    display: block;
  }
  #masthead nav ul li a,
  #masthead nav ul li b {
    display: block;
    padding: 0;
  }
  #masthead nav ul li b,
  #masthead nav ul li .current {
    background-image: none;
  }
  nav.menu-bar {
    text-align: inherit;
    line-height: 100%;
  }
  nav.menu-bar ul {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  nav.menu-bar ul li {
    display: block;
    padding: 0;
  }
  nav.menu-bar ul li a {
    padding: 10px;
    border: 0;
    display: block;
    border-top: 1px dotted #d6d6d6;
    border-left: 0;
  }
  nav.menu-bar ul li:first-child a {
    border-top: 0;
  }
  #nav-main #nav-main-menu .submenu {
    position: static;
    top: 0;
    background: #F6F6F6;
    opacity: 1;
    margin: 0 0 0 10px;
    padding: 0;
    width: 260px;
  }
  #nav-main #nav-main-menu .submenu li {
    margin: 0;
    padding: 0;
  }
  #nav-main #nav-main-menu .submenu_lv2 {
    position: static;
    top: 0;
    opacity: 1;
    background: #FFFFFF;
    width: 250px;
    margin: 0 0 0 10px;
  }
  #nav-main #nav-main-menu .submenu_lv2 li {
    margin: 0;
    padding: 0;
  }
  #nav-main #nav-main-menu .submenu a,
  #nav-main #nav-main-menu .submenu a:link,
  #nav-main #nav-main-menu .submenu a:visited {
    -moz-transition: none 0s;
    -webkit-transition: none 0s;
    transition: none 0s;
  }
  #nav-main #nav-main-menu .submenu li > a,
  #nav-main #nav-main-menu .submenu li[role=menuitem].hover > a,
  #nav-main #nav-main-menu .submenu li > a:hover,
  #nav-main #nav-main-menu .submenu li[role=menuitem].hover > a:hover,
  #nav-main #nav-main-menu .submenu li > a:focus,
  #nav-main #nav-main-menu .submenu li[role=menuitem].hover > a:focus,
  #nav-main #nav-main-menu .submenu li > a:active,
  #nav-main #nav-main-menu .submenu li[role=menuitem].hover > a:active {
    background: none;
  }
  #nav-main .toggle {
    display: block;
    width: 32px;
    height: 32px;
    margin: -3px 0 0 -3px;
    background: no-repeat center top url(/media/img/sandstone/icn-menu.png);
    text-indent: -999em;
    overflow: hidden;
    cursor: pointer;
  }
  #nav-main .toggle.open {
    background-position: center -100px;
  }
  #nav-main #nav-main-menu li {
    display: block;
    float: none;
    margin: 0;
    border-bottom: 1px solid #FFFFFF;
  }
  #nav-main #nav-main-menu li:last-child {
    border: 0;
  }
  #nav-main #nav-main-menu a,
  #nav-main #nav-main-menu b {
    cursor: pointer;
    display: block;
    text-transform: none;
    padding: 10px;
  }
  #nav-main #nav-main-menu a:hover {
    background: none;
  }
  #nav-main #nav-main-menu a.submenu-item {
    background: 94% 50% no-repeat url(/media/img/sandstone/arrow-go.png);
  }
  #nav-main-menu {
    background: #EEEEEE;
    position: absolute;
    z-index: 999;
    width: 270px;
    margin: 0;
    padding: 0;
    left: -270px;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    text-indent: 20px;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
  #nav-main-menu:before {
    content: "";
    display: block;
    width: 28px;
    height: 10px;
    background: no-repeat url(/media/img/sandstone/menu-point.png);
    position: absolute;
    top: -10px;
  }
}
/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 760px) {
  #masthead {
    width: auto;
  }
  #colophon .row {
    width: 420px;
  }
}
