<footer id="footer">
  <div id="footer-wrapper">
    <div id="footer-logo" class="footer-content">
      <a href="//mozilla.org/en-US/" target="_blank" title="mozilla taiwan">
        <img style="border:0px;" alt="mozilla" src="/media/img/sandstone/footer-mozilla.png">
      </a>
    </div>
    <div id="sub-footer" class="footer-content">
      <div id="sub-footer-contents">
        <strong>與我們為友</strong>
        <ul>
          <li id="footer-Facebook">
            <a href="https://www.facebook.com/MozillaTaiwan">Facebook</a>
          </li>
          <li id="footer-Google+">
            <a href="https://plus.google.com/u/0/114653167240123163859/posts">Google+</a>
          </li>
          <li id="footer-Plurk">
            <a href="http://plurk.com/MozillaTaiwan">Plurk</a>
          </li>
          <li id="footer-Youtube">
            <a href="http://www.youtube.com/user/MozillaTaiwan">Youtube</a>
          </li>
          <li id="footer-Flickr">
            <a href="http://www.flickr.com/photos/mozillataiwan/">Flickr</a>
          </li>
          <li id="footer-電子報">
            <a href="http://mozilla.com.tw/join_us/">電子報</a>
          </li>
        </ul>
      </div>
    </div>
    <!--end sub-footer-->
    <div id="copyright" class="footer-content">
      <ul>
        <li><a href="//www.mozilla.org/zh-TW/privacy-policy.html">隱私資料政策</a>&nbsp;|</li>
        <li><a href="//www.mozilla.org/zh-TW/about/legal.html">法律資訊</a>&nbsp;|</li>
        <li><a href="//www.mozilla.org/zh-TW/legal/fraud-report/index.html">回報商標濫用</a>&nbsp;|</li>
        <li><a href="//mozilla.com.tw/join_us/un_subscribe/">取消訂閱電子報</a>&nbsp;|</li>
      </ul>
      <p>除另有<a href="//www.mozilla.org/zh-TW/about/legal.html#site">註明</a>外，本站內容皆採用<br>
        <a href="http://creativecommons.org/licenses/by-sa/3.0/">創用 CC 姓名標示—相同方式分享條款 3.0 </a>或更新版本授權大眾使用。</p>
    </div>
    <!-- end copyright-->
  </div>
  <!-- end of footer-wrapper -->
</footer>
<!-- end of footer -->