<nav id="nav-main" role="navigation">
  <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">{{_('Menu')}}</span>
  <ul id="nav-main-menu" class="has-submenus" role="menubar">
    <li id="nav-main-firefox" role="menuitem" class="topMenu first">
      <a title="Mozilla Firefox" href="//mozilla.com.tw/firefox/" tabindex="0" aria-owns="nav-main-firefox-submenu" aria-haspopup="true">Firefox</a>
      <ul id="nav-main-firefox-submenu" aria-expanded="false" class="submenu has-submenus">
        <li class="first">
          <a title="下載 Mozilla Firefox 中文桌面版" href="//mozilla.com.tw/firefox/download/" tabindex="-1">Firefox 免費下載</a>
        </li>
        <li id="nav-sub-firefox-desktop" role="menuitem" >
          <a title="Mozilla Firefox 桌面版" href="//mozilla.com.tw/firefox/desktop/" tabindex="-1" aria-owns="nav-sub-firefox-desktop-submenu" aria-haspopup="true">Firefox 桌面版</a>
          <ul id="nav-sub-firefox-desktop-submenu" aria-expanded="false" class="submenu_lv2">
            <li class="first">
              <a title="下載 Mozilla Firefox 中文桌面版" href="//mozilla.com.tw/firefox/download/" tabindex="-1">下載</a>
            </li>
            <li>
              <a title="Firefox 中文桌面版─自訂" href="//mozilla.com.tw/firefox/customize/" tabindex="-1">自訂</a>
            </li>
            <li>
              <a title="Firefox 中文桌面版─效能" href="//mozilla.com.tw/firefox/performance/" tabindex="-1">效能</a>
            </li>
            <li>
              <a title="Firefox 中文桌面版─技術" href="//mozilla.com.tw/firefox/technology/" tabindex="-1">技術</a>
            </li>
            <li class="last">
              <a title="Firefox 中文桌面版─安全" href="//mozilla.com.tw/firefox/security/" tabindex="-1">安全</a>
            </li>
          </ul>
        </li>
        <li id="nav-sub-firefox-mobile" role="menuitem">
          <a title="Mozilla Firefox 行動版" href="//mozilla.com.tw/firefox/mobile/" tabindex="-1" aria-owns="nav-sub-firefox-mobile-submenu" aria-haspopup="true">Firefox 行動版</a>
          <ul id="nav-sub-firefox-mobile-submenu" aria-expanded="false" class="submenu_lv2">
            <li class="first">
              <a title="下載 Mozilla Firefox 行動版" href="//play.google.com/store/apps/details?id=org.mozilla.firefox" tabindex="-1">下載</a>
            </li>
            <li>
              <a title="Firefox 行動版─功能特色" href="//mozilla.com.tw/firefox/mobile/features/" tabindex="-1">功能特色</a>
            </li>
            <li>
              <a title="Firefox 行動版─支援平台" href="//mozilla.com.tw/firefox/mobile/platforms/" tabindex="-1">支援平台</a>
            </li>
            <li class="last">
              <a title="Firefox 行動版─常見問答集" href="//mozilla.com.tw/firefox/mobile/faq/" tabindex="-1">常見問答集</a>
            </li>
          </ul>
        </li>
        <li>
          <a title="Mozilla Firefox 開發者版本" href="//mozilla.com.tw/firefox/developer/" tabindex="-1">Firefox 開發者版本</a>
        </li>
        <li>
          <a title="Mozilla Firefox 未來發行版" href="//mozilla.com.tw/firefox/channel/" tabindex="-1">Firefox 未來發行版</a>
        </li>
        <li id="nav-sub-services" role="menuitem">
          <a title="相關服務" href="javascript:void(0);" tabindex="-1" aria-owns="nav-sub-services-submenu" aria-haspopup="true">相關服務</a>
          <ul id="nav-sub-services-submenu" aria-expanded="false" class="submenu_lv2">
            <li class="first">
              <a title="Firefox Hello" href="/firefox/hello/" tabindex="-1">Hello</a>
            </li>
            <li class="last">
              <a title="Firefox Sync" href="/firefox/sync/" tabindex="-1">Sync</a>
            </li>
          </ul>
        </li>
        <li id="nav-sub-firefox-addons" role="menuitem">
          <a title="Firefox 附加元件" href="//addons.mozilla.org/zh-TW/firefox/" tabindex="-1" aria-owns="nav-sub-firefox-addons-submenu" aria-haspopup="true">附加元件</a>
          <ul id="nav-sub-firefox-addons-submenu" aria-expanded="false" class="submenu_lv2">
            <li class="first">
              <a title="Firefox 桌面版附加元件" href="//addons.mozilla.org/zh-TW/firefox/" tabindex="-1">桌面版</a>
            </li>
            <li>
              <a title="Firefox 行動版附加元件" href="//addons.mozilla.org/zh-TW/android/" tabindex="-1">行動版</a>
            </li>
            <li class="last">
              <a title="Firefox 佈景主題" href="//addons.mozilla.org/zh-TW/firefox/themes/" tabindex="-1">佈景主題</a>
            </li>
          </ul>
        </li>
        <li id="nav-sub-firefox-support" role="menuitem" class="last">
          <a title="Firefox 說明文件、支援中心" href="https://support.mozilla.com/zh-TW/home" tabindex="-1" aria-owns="nav-sub-firefox-support-submenu" aria-haspopup="true">支援中心</a>
          <ul id="nav-sub-firefox-support-submenu" aria-expanded="false" class="submenu_lv2">
            <li class="first">
              <a title="Firefox 桌面版支援中心" href="//support.mozilla.org/zh-TW/products/firefox" tabindex="-1">桌面版</a>
            </li>
            <li class="last">
              <a title="Firefox 行動版支援中心" href="//support.mozilla.org/zh-TW/products/mobile" tabindex="-1">行動版</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li id="nav-main-firefoxos" role="menuitem" class="topMenu">
      <a title="Firefox 行動作業系統" href="//mozilla.com.tw/firefox/os/" tabindex="0" aria-owns="nav-main-firefoxos-submenu" aria-haspopup="true">Firefox OS</a>
      <ul id="nav-main-firefoxos-submenu" aria-expanded="false" class="submenu">
        <li class="first">
          <a title="Firefox OS 簡介" href="//mozilla.com.tw/firefox/os/" tabindex="-1">簡介</a>
        </li>
        <li>
          <a title="Firefox OS 發佈機種" href="//mozilla.com.tw/firefox/os/devices/" tabindex="-1">發佈機種</a>
        </li>
        <li>
          <a title="Firefox OS 合作夥伴專區" href="//mozilla.com.tw/firefox/partners/" tabindex="-1">合作夥伴專區</a>
        </li>
        <li>
          <a title="Firefox OS 支援中心" href="//support.mozilla.org/products/firefox-os" tabindex="-1">支援中心</a>
        </li>
        <li class="last">
          <a title="Firefox OS 常見問答集" href="//mozilla.com.tw/firefox/os/faq/" tabindex="-1">常見問答集</a>
        </li>
      </ul>
    </li>
    <li id="nav-main-community" role="menuitem" class="topMenu">
      <a title="社群參與" href="//mozilla.com.tw/community/" tabindex="0" aria-owns="nav-main-community-submenu" aria-haspopup="true">社群參與</a>
      <ul id="nav-main-community-submenu" aria-expanded="false" class="submenu has-submenus">
        <li class="first">
          <a title="Firefox 活力軍" href="http://firefox.club.tw/" tabindex="-1">Firefox 設計品</a>
        </li>
        <li id="nav-sub-student" role="menuitem">
          <a title="校園大使" href="//mozilla.com.tw/community/student/" tabindex="-1" aria-owns="nav-sub-student-submenu" aria-haspopup="true">校園大使</a>
            <ul id="nav-sub-student-submenu" aria-expanded="false" class="submenu_lv2">
              <li class="first">
                <a title="Firefox 校園大使詳細辦法" href="//mozilla.com.tw/community/student/rules/" tabindex="-1">招募辦法</a>
              </li>
              <li>
                <a title="Firefox 校園大使推廣任務和證書" href="//mozilla.com.tw/community/student/mission/" tabindex="-1">任務及證書</a>
              </li>
              <li>
                <a title="Firefox 校園大使酷炫工具包" href="//mozilla.com.tw/community/student/package/" tabindex="-1">酷炫工具包</a>
              </li>
              <li>
                <a title="Firefox 校園大使狐狐工作坊" href="//mozilla.com.tw/community/student/workshop/" tabindex="-1">狐狐工作坊</a>
              </li>
              <li class="last">
                <a title="Firefox 校園大使線上申請" href="//mozilla.com.tw/contribute/universityambassadors/" tabindex="-1">線上申請</a>
              </li>
            </ul>
        </li>
        <li class="last">
          <a title="社群專案" href="//mozilla.com.tw/community/contribute/" tabindex="-1">社群專案</a>
        </li>
      </ul>
    </li>
    <li id="nav-main-blog" role="menuitem" class="topMenu">
      <a title="訊息中心" href="//mozilla.com.tw/news/" tabindex="0" aria-owns="nav-main-blog-submenu" aria-haspopup="true">訊息中心</a>
      <ul id="nav-main-blog-submenu" aria-expanded="false" class="submenu">
        <li class="first">
          <a title="部落格" href="//blog.mozilla.com.tw/main" tabindex="-1">部落格</a>
        </li>
        <li>
          <a title="新聞室" href="//mozilla.com.tw/news/press/" tabindex="-1">新聞室</a>
        </li>
        <li>
          <a title="活動訊息" href="//blog.mozilla.com.tw/events-list" tabindex="-1">活動訊息</a>
        </li>
        <li class="last">
          <a title="謀智台客" href="//tech.mozilla.com.tw/" tabindex="-1">謀智台客</a>
        </li>
      </ul>
    </li>
    <li id="nav-main-about" role="menuitem" class="topMenu last">
      <a title="關於我們" href="//mozilla.com.tw/about/" tabindex="0" aria-owns="nav-main-about-submenu" aria-haspopup="true">關於我們</a>
      <ul id="nav-main-about-submenu" aria-expanded="false" class="submenu">
        <li class="first">
          <a title="Mozilla 宣言" href="//mozilla.com.tw/about/manifesto/" tabindex="-1">Mozilla 宣言</a>
        </li>
        <li>
          <a title="Mozilla Space" href="//mozilla.com.tw/about/space/" tabindex="-1">Mozilla Space</a>
        </li>
        <li>
          <a title="工作機會" href="//mozilla.com.tw/about/careers/" tabindex="-1">工作機會</a>
        </li>
        <li>
          <a title="實習機會" href="//mozilla.com.tw/about/intern/" tabindex="-1">實習機會</a>
        </li>
        <li>
          <a title="聯絡資訊" href="//mozilla.com.tw/about/contact/" tabindex="-1">聯絡資訊</a>
        </li>
        <li class="last">
          <a title="Mozilla (US)" href="//mozilla.org/en-US/" tabindex="-1">Mozilla (US)</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
