<nav id="nav-main" role="navigation">
  <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">{{_('Menu')}}</span>
  <ul id="nav-main-menu" class="has-submenus" role="menubar">
    <li id="nav-main-products" role="menuitem" class="topMenu first">
      <a title="下載 Mozilla Firefox 中文版" href="//mozilla.com.tw/firefox/" tabindex="0" aria-owns="nav-main-products-submenu" aria-haspopup="true">Firefox</a>
      <ul id="nav-main-products-submenu" aria-expanded="false" class="submenu">
        <li class="first">
          <a title="下載 Mozilla Firefox 中文桌面版" href="//mozilla.com.tw/firefox/features/" tabindex="-1">Firefox 桌面版</a>
        </li>
        <li>
          <a title="Mozilla Firefox 行動版" href="//mozilla.com.tw/firefox/mobile/" tabindex="-1">Firefox 行動版</a>
        </li>
        <li>
          <a title="Mozilla Firefox 未來發行版" href="//mozilla.com.tw/firefox/channel/" tabindex="-1">Firefox 未來發行版</a>
        </li>
        <li>
          <a title="Firefox 行動作業系統" href="//mozilla.com.tw/firefoxos/" tabindex="-1">Firefox OS</a>
        </li>
        <li>
          <a title="Firefox 附加元件" href="https://addons.mozilla.org/zh-TW/firefox/" tabindex="-1">附加元件</a>
        </li>
        <li class="last">
          <a title="Firefox 說明文件、支援中心" href="https://support.mozilla.com/zh-TW/home" tabindex="-1">支援中心</a>
        </li>
      </ul>
    </li>
    <li id="nav-main-community" role="menuitem" class="topMenu">
      <a title="社群參與" href="//mozilla.com.tw/community/" tabindex="0" aria-owns="nav-main-community-submenu" aria-haspopup="true">社群參與</a>
      <ul id="nav-main-community-submenu" aria-expanded="false" class="submenu">
        <li class="first">
          <a title="Firefox 活力軍" href="http://firefox.club.tw/" tabindex="-1">Firefox 活力軍</a>
        </li>
        <li>
          <a title="校園大使" href="//mozilla.com.tw/community/student/" tabindex="-1">校園大使</a>
        </li>
        <li class="last">
          <a title="社群專案" href="//mozilla.com.tw/community/contribute/" tabindex="-1">社群專案</a>
        </li>
      </ul>
    </li>
    <li id="nav-main-blog" role="menuitem" class="topMenu">
      <a title="訊息中心" href="//mozilla.com.tw/news/" tabindex="0" aria-owns="nav-main-blog-submenu" aria-haspopup="true">訊息中心</a>
      <ul id="nav-main-blog-submenu" aria-expanded="false" class="submenu">
        <li class="first">
          <a title="部落格" href="//blog.mozilla.com.tw/main" tabindex="-1">部落格</a>
        </li>
        <li>
          <a title="Mozilla 新聞" href="//mozilla.com.tw/news/press/" tabindex="-1">Mozilla 新聞</a>
        </li>
        <li>
          <a title="活動訊息" href="//blog.mozilla.com.tw/events-list" tabindex="-1">活動訊息</a>
        </li>
        <li class="last">
          <a title="謀智台客" href="//tech.mozilla.com.tw/" tabindex="-1">謀智台客</a>
        </li>
      </ul>
    </li>
    <li id="nav-main-about" role="menuitem" class="topMenu last">
      <a title="關於我們" href="//mozilla.com.tw/about/" tabindex="0" aria-owns="nav-main-about-submenu" aria-haspopup="true">關於我們</a>
      <ul id="nav-main-about-submenu" aria-expanded="false" class="submenu">
        <li class="first">
          <a title="Mozilla 宣言" href="//mozilla.com.tw/about/manifesto/" tabindex="-1">Mozilla 宣言</a>
        </li>
        <li>
          <a title="Mozilla Space" href="//mozilla.com.tw/about/space/" tabindex="-1">Mozilla Space</a>
        </li>
        <li>
          <a title="工作機會" href="//mozilla.com.tw/about/careers/" tabindex="-1">工作機會</a>
        </li>
        <li>
          <a title="聯絡資訊" href="//mozilla.com.tw/about/contact/" tabindex="-1">聯絡資訊</a>
        </li>
        <li class="last">
          <a title="Mozilla (US)" href="//mozilla.org/en-US/" tabindex="-1">Mozilla (US)</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
