<div id="tabzilla-panel" class="close-nav" tabindex="-1">
  <div id="tabzilla-contents">
    <div id="tabzilla-promo">
      <div id="tabzilla-promo-ff-android" class="snippet"> <!--ex: promo-firefox, promo-MWC, promo-flicks -->
        <a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox">
          <h4>Firefox for Android</h4>

          <p>我會說中文了！</p>
        </a>
      </div>
      <!-- end of promo-name -->
    </div>
    <!-- end of tabzilla-promo -->
    <div id="tabzilla-nav">
      <ul>
        <li class="sitemap">
          <h2>Firefox</h2>
          <div>
            <ul>
              <li>
                <a href="//mozilla.com.tw/firefox/features/" title="下載 Mozilla Firefox 中文桌面版">Firefox 桌面版</a>
              </li>
              <li>
                <a href="//mozilla.com.tw/firefox/mobile/" title="Mozilla Firefox 行動版">Firefox 行動版</a>
              </li>
              <li>
                <a href="//mozilla.com.tw/firefox/channel/" title="Mozilla Firefox 未來發行版">Firefox 未來發行版</a>
              </li>
              <li>
                <a href="//mozilla.com.tw/firefoxos/" title="Firefox 行動作業系統">Firefox OS</a>
              </li>
              <li>
                <a href="https://addons.mozilla.org/zh-TW/firefox/" title="Firefox 附加元件">附加元件</a>
              </li>
              <li>
                <a href="https://support.mozilla.com/zh-TW/home" title="Firefox 說明文件、支援中心">支援中心</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="sitemap">
          <h2>社群參與</h2>
          <div>
            <ul>
              <li>
                <a href="http://firefox.club.tw/" title="Firefox 活力軍">Firefox 活力軍</a>
              </li>
              <li>
                <a href="//mozilla.com.tw/community/student/" title="校園大使">校園大使</a>
              </li>
              <li>
                <a href="//mozilla.com.tw/community/contribute/" title="社群專案">社群專案</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="sitemap">
          <h2>訊息中心</h2>
          <div>
            <ul>
              <li>
                <a href="//blog.mozilla.com.tw/main" title="部落格">部落格</a>
              </li>
              <li>
                <a href="//mozilla.com.tw/news/press/" title="Mozilla 新聞">Mozilla 新聞</a>
              </li>
              <li>
                <a href="//blog.mozilla.com.tw/events-list" title="活動訊息">活動訊息</a>
              </li>
              <li>
                <a href="//tech.mozilla.com.tw/" title="謀智台客">謀智台客</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="sitemap">
          <h2>關於我們</h2>
          <div>
            <ul>
              <li>
                <a href="//mozilla.com.tw/about/manifesto/" title="Mozilla 宣言">Mozilla 宣言</a>
              </li>
              <li>
                <a href="//mozilla.com.tw/about/space/" title="Mozilla Space">Mozilla Space</a>
              </li>
              <li>
                <a href="//mozilla.com.tw/about/careers/" title="工作機會">工作機會</a>
              </li>
              <li>
                <a href="//mozilla.com.tw/about/contact/" title="聯絡資訊">聯絡資訊</a>
              </li>
              <li>
                <a href="//mozilla.org/en-US/" title="Mozilla (US)">Mozilla (US)</a>
              </li>
            </ul>
          </div>
        </li>
        <!-- end of sitemap -->
      </ul>
    </div>
    <!-- end of tabzilla-nav -->
  </div>
  <!-- end of tabzilla-content -->
</div>
<!-- end of tabzilla-panel -->